DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=telesignal
DB_USERNAME=postgres
DB_PASSWORD=postgres

METAAPI_TOKEN=
METAAPI_ACCOUNT_ID=

TELEGRAM_EFS_PREFFX=
TELEGRAM_APP_ID=
TELEGRAM_API_HASH=

WS_PORT=3000